@import components/mixins
@import components/var

.product_container 
    > .grid
        gap: 10rem
        +media(768)
            grid-template-columns: 1fr 1fr
            gap: 50rem
    h1
        padding-bottom: 30rem
        text-transform: uppercase
    .price
        padding: 0
        font-size: 32rem
        font-weight: 700
        text-transform: uppercase
    .spivpracia_product_btn
        color: #121212
    table
        width: 100%
        text-align: center
        border-radius: 3px 
        border-collapse: separate
        border-spacing: 0
        background-color: $black
        overflow: hidden
    thead
        background-color: $black
        color: $white
    td, th
        padding: 11rem
    td
        border-bottom: 1px solid $black
        border-right: 1px solid $black
        &:first-child
            border-left: 1px solid $black
    th + th
        border-left: 1px solid $white
    tbody
        background-color: #fff
        tr
            &:last-child
                td
                    &:first-child
                        border-radius: 0 0 0 3px
                    &:last-child
                        border-radius: 0 0 3px 0
                        
    .color
        flex-wrap: nowrap
        width: 100% 
    p.price_rozdrib
        padding: 0
.price_block
    margin-bottom: 30rem

p.price_rozdrib
    color: #CABABA
    text-decoration: line-through

.img-block
    display: grid
    grid-template-columns: 120rem 73%
    grid-column-gap: 20rem
    width: 100%
    height: 100%
    overflow: hidden
    +media(500)
        grid-template-columns: 1.2fr 4fr
    +media(768)
        grid-template-columns: 30% 70%
    +media(1000)
        max-height: 600rem
        display: grid
        column-gap: 20rem
        grid-template-columns: 1fr 1fr
    +media(1024)
        grid-template-columns: 170rem 4fr
    img
        width: 100%
        height: 100%
        object-fit: cover
        border-radius: 5px

.small-img
    position: relative
    max-height: 500rem
    display: grid
    row-gap: 5rem
    grid-template-rows: 1fr
.main-img
    max-height: 400rem
    +media(1440)
        max-height: 600rem
.carousel-card
    display: grid
    row-gap: 5rem
    border-radius: 5px
    grid-template-rows: 1fr 1fr
    transition: all .5s aese

.small-img-parent
    width: 100%
    min-width: 100rem
    min-height: 170rem
    img
        object-fit: cover

.product_btn_change
    padding-bottom: 28rem

.toggle-btn
    color: #CABABA
    font-size: 18rem
    font-weight: 700
    text-transform: uppercase
    &:hover
        color: $black
        text-decoration-line: underline
        
.active_product
    display: block
    color: $black
    text-decoration-line: underline

.none_product
    display: none

.description_product_one,
.description_product_opt
    font-size: 18rem
    font-weight: 500
    p
        padding-bottom: 18rem

.color_container
    padding-bottom: 27rem

.card_size_btn
    label
        input
            padding: 13px
            min-width: 70rem
            height: 40rem
            border-radius: 3px
            border: 1px solid #B9B9B9
        span
            font-size: 18rem
.opt_size
    display: block
    +media(768)
        width: 80%
    span 
        display: block
        width: 100%
.order-product
    flex-wrap: wrap
    .cta
        width: 100%
        max-width: none
    .spivpracia_btn
        &:hover
            color: $white
            background-color: $black
.same_product
    .cta_main
        padding: 70rem 0

