.info-item
    a.readmore(href="#").flex-between.items-center
        span Опис товару
        span.svg_btn 
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="5" viewBox="0 0 12 7" fill="none">
                <path d="M1 1L6 6L11 1" stroke="#fff" stroke-linecap="round"/>
            </svg>
    .description-more
        ul.mark 
            li Тканина: якісна 95% турецька бавовна;
            li Тип крою - звичайний;
            li Круглий виріз;
            li Манжети на резинці;
.info-item
    a.readmore(href="#").flex-between.items-center
        span Розмірна сітка
        span.svg_btn 
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="5" viewBox="0 0 12 7" fill="none">
                <path d="M1 1L6 6L11 1" stroke="#fff" stroke-linecap="round"/>
            </svg>
    .description-more
        table 
            thead 
                tr  
                    th розмір
                    th довжина рукава від шиї
                    th довжина виробу від шиї
                    th напівобхват виробу
            tbody 
                tr
                    td 146
                    td 67
                    td 59
                    td 50
                tr
                    td 140
                    td 65
                    td 57
                    td 48
                tr
                    td 134
                    td 63
                    td 55
                    td 46
                tr
                    td 128
                    td 60
                    td 53
                    td 44
                tr
                    td 122
                    td 57
                    td 52
                    td 43
                tr
                    td 114
                    td 54
                    td 51
                    td 42