.filter_container 
    .info-item
        a.readmore(href="#").flex.items-center
            span фільтр
            span.svg_btn 
                <svg xmlns="http://www.w3.org/2000/svg" width="25rem" height="15rem" viewBox="0 0 12 7" fill="none">
                    <path d="M1 1L6 6L11 1" stroke="#121212" stroke-linecap="round"/>
                </svg>
        .description-more
            form(action="#")
                .flex-between 
                    .category_filter 
                        p Категорія
                        label.flex.items-center
                            input(type="checkbox" name="category" value="") 
                            | Костюми
                        label.flex.items-center 
                            input(type="checkbox" name="category" value="") 
                            | Штани
                        label.flex.items-center 
                            input(type="checkbox" name="category" value="") 
                            | Худі
                        label.flex.items-center 
                            input(type="checkbox" name="category" value="") 
                            | Світшоти
                        label.flex.items-center 
                            input(type="checkbox" name="category" value="") 
                            | Футболки
                    .color_filter 
                        p Колір
                        label.flex.items-center
                            input(type="checkbox" name="color" value="") 
                            | Чорний
                        label.flex.items-center 
                            input(type="checkbox" name="color" value="") 
                            | Бежевий
                        label.flex.items-center 
                            input(type="checkbox" name="color" value="") 
                            | Марсала
                        label.flex.items-center 
                            input(type="checkbox" name="color" value="") 
                            | Білий
                        label.flex.items-center 
                            input(type="checkbox" name="color" value="") 
                            | Блакитний
                    .size_filter
                        p Розмір
                        label.flex.items-center
                            input(type="checkbox" name="size" value="") 
                            | XS
                        label.flex.items-center 
                            input(type="checkbox" name="size" value="") 
                            | S
                        label.flex.items-center 
                            input(type="checkbox" name="size" value="") 
                            | M
                        label.flex.items-center 
                            input(type="checkbox" name="size" value="") 
                            | L
                        label.flex.items-center 
                            input(type="checkbox" name="size" value="") 
                            | XL
                        label.flex.items-center 
                            input(type="checkbox" name="size" value="") 
                            | XXL
