.sort-select.flex
    p сортувати:
    label.arrow-select
        .select
            input(type='hidden').select__input
            .select__in за популярністю
            .select__list
                .select__item(data-value='2') ціна за спаданням
                .select__item(data-value='3') ціна за зростанням
                .select__item(data-value='5') за популярністю