doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="author" content="український бренд МВМ")
        meta(name="robots" content="index follow")
        meta(name="title" content="Одяг для всієї родини від українського бренду МВМ")
        meta(name="description" content="Інтернет-магазин МВМ — стильний та зручний одяг для жінок, чоловіків і дітей. Український бренд, власне виробництво, висока якість за приємними цінами. Продаж гуртом та в роздріб.")
        meta(name="keywords" content="одяг від MBM, інтернет-магазин МВМ, одяг для всієї родини, інтернет-магазин одягу, жіночий одяг, чоловічий одяг, дитячий одяг, український виробник одягу, український бренд одягу, одяг гуртом та в роздріб, стильний та комфортний одяг")
        link(rel="stylesheet", href="css/styles.css")
        link(rel="apple-touch-icon" sizes="57x57" href="img/apple-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="img/apple-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="img/apple-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="img/apple-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="img/apple-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="img/apple-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="img/apple-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="img/apple-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="img/apple-icon-180x180.png")
        link(rel="icon" type="image/png" sizes="192x192"  href="img/android-icon-192x192.png")
        link(rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png")
        link(rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png")
        meta(name="msapplication-TileColor" content="#ffffff")
        meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
        meta(name="theme-color" content="#ffffff")
        title МВМ — Стильний і комфортний одяг для усієї родини
    body 
        .dark-bgc
        .dark-bgc-succes
        include components/succes 
        include components/spivpracia 
        include components/header 
        main 
            section.black_bg.main_section
                div.flex.main_container
                    h1 Стильний і комфортний одяг для усієї родини
                    p Гурт та роздріб
                    .flex.cta_main
                        a.cta.catalog_cta(href="catalog.html") каталог
                        a.cta.black_cta(href="#").spivpracia_btn співпраця
                .grid.grid_main_container 
                    .slider-images-1
                        img(src="img/main-bg1.jpg", alt="дівчина в ніжно-блакитному худі", title="жіноче блакитне худі")
                        img(src="img/main-bg1-2.jpg", alt="хлопець в білому худі", title="чоловіче біле худі")
                        img(src="img/main-bg1-3.jpg", alt="хлопець в білому світшоті", title="чоловічий білий світшот")
                        img(src="img/main-bg1-4.jpg", alt="хлопець в сірому худі і дівчина в сірій футболці", title="молодіжний одяг сірого кольору")
                        img(src="img/main-bg1-5.jpg", alt="хлопець і дівчина в сірих худі ", title="сірі молодіжні худі")
                    video(autoplay loop muted playsinline)
                        source(src="video/video_mbm.mp4" type="video/mp4")
                    video(autoplay loop muted playsinline)
                        source(src="video/video_mbm2.mp4" type="video/mp4")
                    .slider-images-2
                        img(src="img/main-bg2-1.jpg", alt="дівчина в бежевому худі", title="жіноче бежеве худі")
                        img(src="img/main-bg2-2.jpg", alt="дівчина в білому світшоті з вишнями", title="білий світшот з вишнями")
                        img(src="img/main-bg2-3.jpg", alt="дівчина в рожевому світшоті", title="жіночий рожевий світшот оверсайз")
                        img(src="img/main-bg2.jpg", alt="дівчина в білому світшоті Brooklyn", title="жіночий білий світшот з написом")
            
            .move-text 
                .content-slider.pos-r.flex
                    - for(let i = 0; i < 8; i++) 
                        h3.pos-r безкоштовна доставка від 2499 ₴
            section.wrapper.container
                .grid.col-4
                    .category_block.woman
                        a.cta.black_cta(href="#") для жінок
                    .category_block.man
                        a.cta.black_cta(href="#") для чоловіків
                    .category_block.girl
                        a.cta.black_cta(href="#") для дівчаток
                    .category_block.boy
                        a.cta.black_cta(href="#") для хлопчиків
            section.black_bg
                .wrapper.grid.col-2
                    .about-img 
                        picture 
                            img(src="img/sec-3-bg.jpg", alt="брюнетка в чорному худі", title="жіноче чорне спортивне худі" loading="lazy")
                    .about_container.container
                        h2 МВМ — комфорт і стиль для кожного дня
                        p Ми — український бренд із власним виробництвом, що спеціалізується на створенні дитячого, жіночого та чоловічого одягу. 
                        p Наша мета — забезпечити кожного комфортним та стильним одягом.
                        .flex
                            a.cta.catalog_cta(href="catalog.html") каталог
                            a.cta.black_cta(href="#").spivpracia_btn співпраця
                        .grid.col-4.about-pic
                            picture 
                                img(src="img/sec-3-1.jpg", alt="довгокоса дівчина в білому світшоті", title="дівчачий біли світшот" loading="lazy")
                            picture 
                                img(src="img/sec-3-2.jpg", alt="хлопчик в білій футболці-поло", title="біла футболка-поло" loading="lazy")
                            picture 
                                img(src="img/sec-3-3.jpg", alt="дівчина в чорному світшоті", title="дівчачий чорний світшот з малюнками" loading="lazy")
                            picture 
                                img(src="img/sec-3-4.jpg", alt="чоловік в чорному світшоті", title="чоловічий чорний світшот з написом" loading="lazy")
            section.same_product.container.wrapper
                h2 популярні товари
                .grid.col-4.catalog_container
                    - for(let i = 1; i <= 4; i++)
                        include components/card
            section.same_product.container.wrapper
                h2 Новинки
                .grid.col-4.catalog_container
                    - for(let i = 1; i <= 4; i++)
                        include components/card
            section.advantages_container.black_bg 
                .wrapper.grid.col_3_adv
                    .bg1 
                    .bg2.flex.items-center
                        .dark-mask
                        h2 Чому варто купувати у нас?
                        .flex.items-center
                            p.transparent_cta Власне виробництво
                            p.transparent_cta Висока якість матеріалів
                            p.transparent_cta > 20 років на ринку
                    .bg3
            section.wrapper.reviews_container.container
                h2 відгуки
                .grid.col-3
                    div.review 
                        picture 
                            img(src="img/rev1.png", alt="жінка в чорному худі та джинсах", title="чорне жіноче худі" loading="lazy")
                    div.review 
                        picture 
                            img(src="img/rev2.png", alt="чоловік в окулярах в сірому світшоті", title="чоловічий сірий світшот" loading="lazy")
                    div.review 
                        picture 
                            img(src="img/rev3.png", alt="брюнетка в білому худі та джинсах", title="біле жіноче худі" loading="lazy")
                include components/pagination
            section.info_container.wrapper.container
                h2 інформація
                include components/information
            section.container.black_bg
                .wrapper.start_buisnes
                    h2 розпочніть прибутковий бізнес з MBM!
                    p Співпрацювати з нами по опту — це вигідно, зручно та надійно! Ми є виробником, тому гарантуємо високу якість флісових костюмів за найкращими цінами. Пропонуємо широкий асортимент моделей, швидку доставку по Україні та гнучкі умови для кожного партнера.
                    .grid.items-center.col-3
                        p.transparent_cta Товар у наявності
                        p.transparent_cta Вигідні ціни
                        p.transparent_cta Повернення та обмін товару
            section.wrapper.container 
                h2 контакти
                include components/contacts

        include components/footer
        script(src="js/scripts.js") 