doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0")
        link(rel="stylesheet", href="css/styles.css")
        link(rel="apple-touch-icon" sizes="57x57" href="img/apple-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="img/apple-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="img/apple-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="img/apple-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="img/apple-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="img/apple-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="img/apple-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="img/apple-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="img/apple-icon-180x180.png")
        link(rel="icon" type="image/png" sizes="192x192"  href="img/android-icon-192x192.png")
        link(rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png")
        link(rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png")
        meta(name="msapplication-TileColor" content="#ffffff")
        meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
        meta(name="theme-color" content="#ffffff")
        title МВМ — Стильний і комфортний одяг для усієї родини
    body 
        .dark-bgc
        .dark-bgc-succes
        include components/succes 
        include components/spivpracia 
        include components/header
        main 
            .product_container 
                .grid.col-2
                    .image_container.grid
                        .small_img
                            picture
                                img(src="", alt="")
                            picture
                                img(src="", alt="")
                        .main_img
                            picture 
                                img(src="", alt="")
                    .description_container 
                        h1 однотонний чоловічий базовий світшот
                        .flex.items-center.product_btn_change
                            a(href="#") роздріб
                            a(href="#") гурт
                        .description_product_one 
                            
                        .description_product_opt
        include components/footer
        script(src="js/scripts.js") 